* {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

body {
  min-height: 100%;
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  letter-spacing: -1px;
}

a {
  color: #1a1b20;
  text-decoration: none;
}

.login-root {
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.loginbackground {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  animation: gradientAnimation 10s linear infinite;
  background: linear-gradient(45deg, #2c3e50, #3498db);
}

.flex-flex {
  display: flex;
}

.align-center,
.center-center {
  align-items: center;
}

.center-center {
  justify-content: center;
}

.box-root {
  box-sizing: border-box;
}

.flex-direction--column {
  display: flex;
  flex-direction: column;
}

.loginbackground-gridContainer {
  display: grid;
  grid-template-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
  justify-content: center;
  margin: 0 -2%;
  transform: rotate(-12deg) skew(-12deg);
}

.box-divider--light-all-2 {
  box-shadow: inset 0 0 0 2px #e3e8ee;
}

.box-background--blue {
  background-color: #5469d4;
}

.box-background--white {
  background-color: #ffffff;
}

.box-background--blue800 {
  background-color: #212d63;
}

.box-background--gray100 {
  background-color: #e3e8ee;
}

.box-background--cyan200 {
  background-color: #7fd3ed;
}

.padding-top--64 {
  padding-top: 64px;
}

.padding-top--24 {
  padding-top: 24px;
}

.padding-top--48 {
  padding-top: 48px;
}

.padding-bottom--24 {
  padding-bottom: 24px;
}

.padding-horizontal--48 {
  padding: 48px;
}

.padding-bottom--15 {
  padding-bottom: 15px;
}

.flex-justifyContent--center {
  justify-content: center;
}

.formbg {
  margin: 0 auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}

label,
.reset-pass a {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}

.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: none;
  border-radius: 4px;
  outline-color: rgba(84, 105, 212, 0.5);
  background-color: #fff;
  box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
}

input[type="submit"] {
  background-color: #1a1b20;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(196, 199, 214) 0px 0px 0px 1px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  box-shadow: #1a1b20 0px 1px 1px 0px, #1a1b20 0px 0px 0px 1px, #1a1b20 0px 2px 5px 0px;
  color: #1a1b20;
}

.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}

.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}

a.ssolink {
  display: block;
  text-align: center;
  font-weight: 600;
}

.footer-link span {
  font-size: 14px;
  text-align: center;
}

.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
    filter: hue-rotate(0deg);
  }
  25% {
    background-position: 100% 50%;
    filter: hue-rotate(90deg);
  }
  50% {
    background-position: 0% 50%;
    filter: hue-rotate(180deg);
  }
  75% {
    background-position: 100% 50%;
    filter: hue-rotate(270deg);
  }
  100% {
    background-position: 0% 50%;
    filter: hue-rotate(360deg);
  }
}
label{
  padding: 5px 0 18px 0;
}
a:hover{
  text-decoration: underline;
}